<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Some website</title>
</head>
<body>
  {{> header}}

{{!-- Manera de invocar el helper antes del mensaje --}}
  <p> {{screamIt message}}</p>
  <p> BTW my name is {{ name }} {{ lastName }}</p>
  {{!-- Sintaxis para inyectar vistas parciales --}}
  {{> footer}}
</body>
</html>