<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Some website</title>
</head>
<body>
  <h1>This website is under maintenance</h1>
  <p>please come back later (:</p>
</body>
</html>